/**
* @file: Basic CSS for Stackla field output.
*/

.powered-by-stackla{
  background-image: url(../img/powered-by-stackla.svg);
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center right;
  color: transparent;
  height: 24px;
  width: 100%;
}

